{{- with secret "services/event-ledger/kv/data/cassandra/creds" }}
{
  "username": "{{ .Data.data.username }}",
  "password": "{{ .Data.data.password }}",
  "policy-bearer-token": "self-managed"
}
{{- end }}
