{{- define "nvcf.nodeSelector" -}}
{{- if .selectors.enabled -}}
{{- $ns := dig .type (dict) .selectors -}}
{{- if or (not $ns) (not (kindIs "map" $ns)) (not (index $ns "key")) -}}
{{- $ns = dig "all" (dict) .selectors -}}
{{- end -}}
{{- if and $ns (kindIs "map" $ns) (index $ns "key") -}}
nodeSelector:
  {{ $ns.key }}: {{ $ns.value }}
{{- end -}}
{{- end -}}
{{- end -}}

{{- define "nvcf.tolerations" -}}
{{- if .tolerations.enabled -}}
{{- $tol := dig .type (list) .tolerations -}}
{{- if not (and $tol (kindIs "slice" $tol)) -}}
{{- $tol = dig "all" (list) .tolerations -}}
{{- end -}}
{{- if and $tol (kindIs "slice" $tol) -}}
tolerations:
{{ toYaml $tol }}
{{- end -}}
{{- end -}}
{{- end -}}

# cert-manager subchart image overrides for helm-nvcf-cert-manager.
cert-manager:
  {{- if .Values.global.imagePullSecrets }}
  global:
    imagePullSecrets:
      {{- toYaml .Values.global.imagePullSecrets | nindent 6 }}
  {{- end }}
  image:
    repository: {{ .Values.global.image.registry }}/{{ .Values.global.image.repository }}/cert-manager-controller
  webhook:
    image:
      repository: {{ .Values.global.image.registry }}/{{ .Values.global.image.repository }}/cert-manager-webhook
  cainjector:
    image:
      repository: {{ .Values.global.image.registry }}/{{ .Values.global.image.repository }}/cert-manager-cainjector
  acmesolver:
    image:
      repository: {{ .Values.global.image.registry }}/{{ .Values.global.image.repository }}/cert-manager-acmesolver
  startupapicheck:
    image:
      repository: {{ .Values.global.image.registry }}/{{ .Values.global.image.repository }}/cert-manager-startupapicheck
  {{- if .Values.global.nodeSelector.enabled -}}
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: {{ .Values.global.nodeSelector.key | quote }}
            operator: In
            values:
            - {{ .Values.global.nodeSelector.value | quote }}
  {{- end }}
  {{- if not (empty .Values.global.tolerations) -}}
  tolerations:
  {{- toYaml .Values.global.tolerations | nindent 8 }}
  {{- end }}