environments:
  default:
    values:
      - ../environments/base.yaml
      - ../environments/{{ requiredEnv "HELMFILE_ENV" }}.yaml

---

{{- $controlPlaneID := dig "global" "controlPlane" "id" "" .Values | toString -}}
{{- $sharedInfrastructure := dig "global" "controlPlane" "sharedInfrastructure" "bundled" .Values | toString -}}
{{- if and $controlPlaneID (or (gt (len $controlPlaneID) 20) (not (regexMatch "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$" $controlPlaneID)) (eq $controlPlaneID "default")) -}}
{{- fail "global.controlPlane.id must be a DNS-1123 label of at most 20 characters and must not be 'default'" -}}
{{- end -}}
{{- if and $controlPlaneID (ne $sharedInfrastructure "external") -}}
{{- fail "global.controlPlane.sharedInfrastructure must be external for a named control plane" -}}
{{- end -}}
{{- if and (eq $sharedInfrastructure "external") (dig "certManager" "enabled" false .Values) -}}
{{- fail "certManager.enabled must be false when global.controlPlane.sharedInfrastructure is external" -}}
{{- end -}}
{{- $controlPlanePrefix := "" -}}
{{- if $controlPlaneID -}}
{{- $controlPlanePrefix = printf "%s-" $controlPlaneID -}}
{{- end -}}
{{- $nvcfNamespace := printf "%snvcf" $controlPlanePrefix -}}

{{- $observabilityProfile := dig "observability" "profile" "disabled" .Values }}
{{- if not (has $observabilityProfile (list "disabled" "control" "compute" "all")) }}
{{- fail (printf "observability.profile must be disabled, control, compute, or all, got %q" $observabilityProfile) }}
{{- end }}
{{- $functionAutoscalerEnabled := or (eq $observabilityProfile "control") (eq $observabilityProfile "all") }}
{{- if and $functionAutoscalerEnabled (not (dig "stateMetrics" "enabled" false .Values)) }}
{{- fail "function-autoscaler requires stateMetrics.enabled=true for control and all observability profiles" }}
{{- end }}

repositories:
  - name: nvcf
{{- if dig "global" "helm" "sources" "url" "" .Values }}
    url: {{ .Values.global.helm.sources.url | quote }}
    {{- if dig "global" "helm" "sources" "username" "" .Values }}
    username: {{ dig "global" "helm" "sources" "username" "" .Values | quote }}
    {{- end }}
    {{- if dig "global" "helm" "sources" "password" "" .Values }}
    password: {{ dig "global" "helm" "sources" "password" "" .Values | quote }}
    {{- end }}
{{- else }}
    url: {{ .Values.global.helm.sources.registry }}/{{ .Values.global.helm.sources.repository }}
    oci: true
{{- end }}

helmDefaults:
  createNamespace: true
  devel: true
  timeout: 900
  wait: true
  waitForJobs: true
  diffArgs:
    - "--dry-run=server"

templates:
  service: &service
    chart: nvcf/helm-nvcf-{{`{{ .Release.Name }}`}}
    values:
      - ../global.yaml.gotmpl
      - ../secrets/{{ requiredEnv "HELMFILE_ENV" }}-secrets.yaml
    labels:
      release-group: observability
  functionAutoscaler: &functionAutoscaler
    chart: nvcf/helm-nvcf-function-autoscaler
    values:
      - ../global.yaml.gotmpl
    labels:
      release-group: observability

releases:

  # --- Observability Services ---
  - name: state-metrics
    version: 1.0.2
    namespace: {{ $nvcfNamespace }}
    condition: stateMetrics.enabled # From global.yaml.gotmpl or env overrides
    inherit:
      - template: service
    # When enabled, this service will export realtime function information that can be
    # scraped by a Prometheus ServiceMonitor

  {{- if $functionAutoscalerEnabled }}
  - name: function-autoscaler
    version: 0.2.1
    namespace: {{ $nvcfNamespace }}
    inherit:
      - template: functionAutoscaler
    needs:
      - {{ $nvcfNamespace }}/state-metrics
  {{- end }}
