{{- $pathEnv := envOrDefault "ACCOUNTS_SECRET_PATH" "" }}
{{- if $pathEnv -}}
    {{- $paths := split "," $pathEnv -}}
    {{- $allSecrets := sprig_dict -}}
    {{- range $path := $paths -}}
        {{- with secret $path -}}
            {{- $allSecrets = sprig_merge $allSecrets .Data.data -}}
        {{- end -}}
    {{- end -}}
    {{- $allSecrets | toJSON -}}
{{- end -}}